@import url("theme_common.css");

#goBtn {
    -fx-font-family: "Futura";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(to left, gray, darkgray, lightgray);
    -fx-text-alignment: center;
    -fx-alignment: center;
}

#goBtn:hover {
    -fx-background-color: #8a8988;
    -fx-cursor: HAND;
}

#goBtn:pressed {
    -fx-background-color: #7a7a7a;
}

#game_pane {
    -fx-background-image: url("../files/black_and_white.jpg");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-position: center;
}

