@import url("common.css");

.custom-button {
    -fx-font-family: "Futura";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: #000000;
    -fx-background-color: #B5CA7B;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.custom-button:hover {
    -fx-background-color: #AFAD5B;
    -fx-cursor: HAND;
}

.custom-button:pressed {
    -fx-background-color: #8eae48;
}

#gamePane {
    -fx-background-image: url("../files/euanthe.jpg");
}

.progress-bar .bar {
    -fx-background-color: #CEA959;
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em;
}

.text-field {
    -fx-background-color: #B5CA7B;
    -fx-text-fill: #000000;
}

.table-row-cell:game .text {
    -fx-fill: #B5CA7B;
}

.table-row-cell:end .text {
    -fx-fill: #FFFFFF;
}