@import url("theme_common.css");

#goBtn {
    -fx-font-family: "Futura";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: #000000;
    -fx-background-color: linear-gradient(to bottom left, #5995A0, #B5CA7B, #D9BE71, #CB6945);
    -fx-text-alignment: center;
    -fx-alignment: center;
}

#goBtn:hover {
    -fx-background-color: #AFAD5B;
    -fx-cursor: HAND;
}

#goBtn:pressed {
    -fx-background-color: #77982F;
}

#game_pane {
    -fx-background-image: url("../files/euanthe.jpg");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-position: center;
}

