@import url("theme_common.css");

#goBtn {
    -fx-font-family: "Futura";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: #000000;
    -fx-background-color: #fbbd7e;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

#goBtn:hover {
    -fx-background-color: #e5994c;
    -fx-cursor: HAND;
}

#goBtn:pressed {
    -fx-background-color: #d98631;
}

#game_pane {
    -fx-background-image: url("../files/golden_sky.jpg");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-position: center;
}

