@import url("theme_common.css");

.custom-button {
    -fx-font-family: "Futura";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: linear-gradient(to top right, #A87280, #898795, #54AEC8);
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.custom-button:hover {
    -fx-background-color: #A87280;
    -fx-cursor: HAND;
}

.custom-button:pressed {
    -fx-background-color: #A94E65;
}

#game_pane {
    -fx-background-image: url("../files/lavender.jpg");
}

.slider .track {
    -fx-background-color: #A87280;
}

.slider .thumb {
    -fx-background-color: #FFFFFF;
}

.progress-bar .bar {
    -fx-background-color: #A87280;
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em;
}