@import url("theme_common.css");

#goBtn {
    -fx-font-family: "Futura";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: #000000;
    -fx-background-color: linear-gradient(to right, #D6837F, #D73D5F, #D6457E);
    -fx-text-alignment: center;
    -fx-alignment: center;
}

#goBtn:hover {
    -fx-background-color: #fe0957;
    -fx-cursor: HAND;
}

#goBtn:pressed {
    -fx-background-color: #D23C6C;
}

#game_pane {
    -fx-background-image: url("../files/red_dawn.jpg");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-position: center;
}

