@import url("theme_common.css");

#goBtn {
    -fx-font-family: "Futura";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: #000000;
    -fx-background-color: linear-gradient(to top left, #F45F4D, #F66A51, #E05B4A, #D24F32);
    -fx-text-alignment: center;
    -fx-alignment: center;
}

#goBtn:hover {
    -fx-background-color: #E26052;
    -fx-cursor: HAND;
}

#goBtn:pressed {
    -fx-background-color: #ee4933;
}

#game_pane {
    -fx-background-image: url("../files/sunset.jpg");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-position: center;
}

