@import url("common.css");

.custom-button {
    -fx-font-family: "Futura";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: #000000;
    -fx-background-color: linear-gradient(to top left, #F45F4D, #F66A51, #E05B4A, #D24F32);
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.custom-button:hover {
    -fx-background-color: #E26052;
    -fx-cursor: HAND;
}

.custom-button:pressed {
    -fx-background-color: #EE4933;
}

#game_pane {
    -fx-background-image: url("../files/sunset.jpg");
}

.progress-bar .bar {
    -fx-background-color: #F45F4D;
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em;
}

.text-field {
    -fx-background-color: #F66A51;
    -fx-text-fill: #000000;
}