@import url("theme_common.css");

.custom-button {
    -fx-font-family: "Futura";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: #000000;
    -fx-background-color: #99705B;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.custom-button:hover {
    -fx-background-color: #85604D;
    -fx-cursor: HAND;
}

.custom-button:pressed {
    -fx-background-color: #795849;
}

#game_pane {
    -fx-background-image: url("../files/terra.jpg");
}

.slider .track {
    -fx-background-color: #99705B;
}

.slider .thumb {
    -fx-background-color: #FFFFFF;
}

.progress-bar .bar {
    -fx-background-color: #99705B;
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em;
}