@import url("common.css");

.custom-button {
    -fx-text-fill: #000000;
    -fx-background-color: #C28B86;
}

.custom-button:hover {
    -fx-background-color: #B96F6C;
}

.custom-button:pressed {
    -fx-background-color: #9A504D;
}

#gamePane {
    -fx-background-image: url("./contra.jpg");
}

.progress-bar .bar {
    -fx-background-color: #894343;
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em;
}

.text-field {
    -fx-background-color: #C28B86;
    -fx-text-fill: #000000;
}

.menu-button:focused {
    -fx-background: #C28B86;
}

.menu-button:hover {
    -fx-background: #C28B86;
}

.menu-button:showing {
    -fx-background: #C28B86;
}

.menu-item:focused {
    -fx-background: #C28B86;
}

.menu-button .label {
    -fx-text-fill: #000000
}

.menu-item .label {
    -fx-text-fill: #000000;
}