@import url("common.css");

.custom-button {
    -fx-text-fill: #000000;
    -fx-background-color: #B5CA7B;
}

.custom-button:hover {
    -fx-background-color: #AFAD5B;
}

.custom-button:pressed {
    -fx-background-color: #8EAE48;
}

#gamePane {
    -fx-background-image: url("./euanthe.jpg");
}

.progress-bar .bar {
    -fx-background-color: #CEA959;
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em;
}

.text-field {
    -fx-background-color: #B5CA7B;
    -fx-text-fill: #000000;
}

#resultBox {
    -fx-text-fill: #A2261A;
}

.menu-button:focused {
    -fx-background: #B5CA7B;
}

.menu-button:hover {
    -fx-background: #B5CA7B;
}

.menu-button:showing {
    -fx-background: #B5CA7B;
}

.menu-item:focused {
    -fx-background: #B5CA7B;
}

.menu-button .label {
    -fx-text-fill: #000000
}

.menu-item .label {
    -fx-text-fill: #000000;
}
