@import url("common.css");

.custom-button {
    -fx-text-fill: #000000;
    -fx-background-color: #B4CE73;
}

.custom-button:hover {
    -fx-background-color: #ADCA70;
}

.custom-button:pressed {
    -fx-background-color: #9CBB5C;
}

#gamePane {
    -fx-background-image: url("./mossy.jpg");
}

.progress-bar .bar {
    -fx-background-color: #A3C161;
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em;
}

.text-field {
    -fx-background-color: #B4CE73;
    -fx-text-fill: #FFFFFF;
}

#resultBox {
    -fx-text-fill: #006400;
}

.menu-button:focused {
    -fx-background: #B4CE73;
}

.menu-button:hover {
    -fx-background: #B4CE73;
}

.menu-button:showing {
    -fx-background: #B4CE73;
}

.menu-item:focused {
    -fx-background: #B4CE73;
}

.menu-button .label {
    -fx-text-fill: #000000
}

.menu-item .label {
    -fx-text-fill: #000000;
}
