@import url("common.css");

.custom-button {
    -fx-text-fill: #000000;
    -fx-background-color: #E2ACAC;
}

.custom-button:hover {
    -fx-background-color: #DA9B9B;
}

.custom-button:pressed {
    -fx-background-color: #CC7F7F;
}

#gamePane {
    -fx-background-image: url("./sunset.jpg");
}

.progress-bar .bar {
    -fx-background-color: #FBA57A;
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em;
}

.text-field {
    -fx-background-color: #E2ACAC;
    -fx-text-fill: #000000;
}

.menu-button:focused {
    -fx-background: #E2ACAC;
}

.menu-button:hover {
    -fx-background: #E2ACAC;
}

.menu-button:showing {
    -fx-background: #E2ACAC;
}

.menu-item:focused {
    -fx-background: #E2ACAC;
}

.menu-button .label {
    -fx-text-fill: #000000
}

.menu-item .label {
    -fx-text-fill: #000000;
}