@import url("common.css");

.custom-button {
    -fx-text-fill: #000000;
    -fx-background-color: #CE6E2A;
}

.custom-button:hover {
    -fx-background-color: #E26052;
}

.custom-button:pressed {
    -fx-background-color: #DD5B1D;
}

#gamePane {
    -fx-background-image: url("./sunset.jpg");
}

.progress-bar .bar {
    -fx-background-color: #496674;
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em;
}

.text-field {
    -fx-background-color: #CE6E2A;
    -fx-text-fill: #000000;
}

.menu-button:focused {
    -fx-background: #CE6E2A;
}

.menu-button:hover {
    -fx-background: #CE6E2A;
}

.menu-button:showing {
    -fx-background: #CE6E2A;
}

.menu-item:focused {
    -fx-background: #CE6E2A;
}

.menu-button .label {
    -fx-text-fill: #000000
}

.menu-item .label {
    -fx-text-fill: #000000;
}