@import url("common.css");

.custom-button {
    -fx-text-fill: #000000;
    -fx-background-color: #7FDBFF;
}

.custom-button:hover {
    -fx-background-color: #4095C6;
}

.custom-button:pressed {
    -fx-background-color: #3487BA;
}

#gamePane {
    -fx-background-image: url("../files/azure.jpg");
}

.progress-bar .bar {
    -fx-background-color: #7FDBFF;
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em;
}

.text-field {
    -fx-background-color: #7FDBFF;
    -fx-text-fill: #FFFFFF;
}

.text-area {
    -fx-text-fill: #4095C6;
}

#resultBox {
    -fx-text-fill: #4095C6;
}

