@import url("common.css");

.custom-button {
    -fx-text-fill: #000000;
    -fx-background-color: #A9A5A2;
}

.custom-button:hover {
    -fx-background-color: #8A8988;
    -fx-cursor: HAND;
}

.custom-button:pressed {
    -fx-background-color: #7A7A7A;
}

#gamePane {
    -fx-background-image: url("../files/black_and_white.jpg");
}

.progress-bar .bar {
    -fx-background-color: #808080;
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em;
}

.text-field {
    -fx-background-color: #A9A5A2;
    -fx-text-fill: #000000;
}

.text-area {
    -fx-text-fill: #000000;
}

#resultBox {
    -fx-text-fill: #000000;
}
