#gamePane {
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-position: center;
}

.custom-img-view-click {
    -fx-scale-x: 0.88;
    -fx-scale-y: 0.88;
    -fx-blend-mode: HARD_LIGHT;
}

.custom-img-view:hover {
    -fx-cursor: HAND;
}

.custom-button {
    -fx-font-family: "Helvetica";
    -fx-font-size: 16px;
    -fx-text-alignment: center;
}

#goBtn {
    -fx-font-size: 19px;
}

.table-view {
    -fx-background-color: #808080;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-text-fill: #FFFFFF;
}

.table-view .table-column {
    -fx-alignment: center;
}

.table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:selected {
    -fx-table-cell-border-color: #FFFFFF;
}

.table-row-cell:empty {
    -fx-background-color: transparent;
}

.theme-img-view-click {
    -fx-scale-x: 0.90;
    -fx-scale-y: 0.90;
    -fx-effect: innershadow(gaussian, #164993, 15, 0.5, 0, 0);
}

.text-area {
    -fx-focus-color: #D3D3D3;
    -fx-text-fill: #000000;
}

.text-area .content {
    -fx-background-color: #D3D3D3;
}

.text-area .content .text {
    -fx-text-alignment: center;
}

.text-field:focused {
    -fx-highlight-fill: transparent;
}

.user-table-row-cell .table-cell {
    -fx-text-fill: #3EC148 ;
}