@import url("common.css");

.custom-button {
    -fx-text-fill: #000000;
    -fx-background-color: #C28B86;
}

.custom-button:hover {
    -fx-background-color: #B96F6C;
    -fx-cursor: HAND;
}

.custom-button:pressed {
    -fx-background-color: #9A504D;
}

#gamePane {
    -fx-background-image: url("../files/contra.jpg");
}

.progress-bar .bar {
    -fx-background-color: #894343;
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em;
}

.text-field {
    -fx-background-color: #C28B86;
    -fx-text-fill: #000000;
}

.text-area {
    -fx-text-fill: #894343;
}
