@import url("common.css");

.custom-button {
    -fx-text-fill: #000000;
    -fx-background-color: #B4CE73;
}

.custom-button:hover {
    -fx-background-color: #ADCA70;
    -fx-cursor: HAND;
}

.custom-button:pressed {
    -fx-background-color: #9CBB5C;
}

#gamePane {
    -fx-background-image: url("../files/mossy.jpg");
}

.progress-bar .bar {
    -fx-background-color: #A3C161;
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em;
}

.text-field {
    -fx-background-color: #B4CE73;
    -fx-text-fill: #FFFFFF;
}

.text-area {
    -fx-text-fill: #006400;
}

#resultBox {
    -fx-text-fill: #006400;
}