.custom-button {
    -fx-font-family: "Futura";
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #7FDBFF;
    -fx-text-alignment: center;
}

.custom-button:hover {
    -fx-background-color: #4095C6;
    -fx-cursor: HAND;
}

.custom-button:pressed {
    -fx-background-color: #3487BA;
}

.table-view .column-header .label {
    -fx-text-fill: #0074D9;
}

.custom-img-view:hover {
    -fx-cursor: HAND;
}

.custom-img-view-click {
    -fx-scale-x: 0.88;
    -fx-scale-y: 0.88;
    -fx-blend-mode: SRC_ATOP;
}

